<div class="container">

<form method="POST" role="form" class="col-md-7">
    <legend>Edit Form</legend>

<div class="form-group">
        <label for="imagePath">Image</label>
        <input type="text" class="form-control" id="imagePath" name="imagePath" placeholder="Input field" value="{{baby_car_seat.imagePath}}">
    </div>

    <div class="form-group">
        <label for="producer">Producer</label>
        <input type="text" class="form-control" id="producer" name="producer" placeholder="Input field" value="{{baby_car_seat.producer}}">
    </div>

<div class="form-group">
        <label for="country">Country</label>
        <input type="text" class="form-control" id="country" name="country" placeholder="Input field" value="{{baby_car_seat.country}}">
    </div>

    <div class="form-group">
        <label for="type">Type</label>
        <input type="text" class="form-control" id="type" name="type" placeholder="Input field" value="{{baby_car_seat.type}}">
    </div>

<div class="form-group">
        <label for="color">Color</label>
        <input type="text" class="form-control" id="color" name="color" placeholder="Input field" value="{{baby_car_seat.color}}">
    </div>

<div class="form-group">
        <label for="price">Price</label>
        <input type="text" class="form-control" id="price" name="price" placeholder="Input field" value="{{baby_car_seat.price}}">
    </div>

<div class="form-group">
        <label for="ages_categories">Ages categories</label>
        <input type="text" class="form-control" id="ages_categories" name="ages_categories" placeholder="Input field" value="{{baby_car_seat.ages_categories}}">
    </div>

<div class="form-group">
        <label for="type_of_implementation">Type of implementation</label>
        <input type="text" class="form-control" id="type_of_implementation" name="type_of_implementation" placeholder="Input field" value="{{baby_car_seat.type_of_implementation}}">
    </div>

    <div class="form-group">
        <label for="quantity_of_fixators">Quantity of fixators</label>
        <input type="text" class="form-control" id="quantity_of_fixators" name="quantity_of_fixators" placeholder="Input field" value="{{baby_car_seat.quantity_of_fixators}}">
    </div>

    <div class="form-group">
        <label for="material">Material</label>
        <input type="text" class="form-control" id="material" name="material" placeholder="Input field" value="{{baby_car_seat.material}}">
    </div>

    <button type="submit" class="btn btn-primary">Submit</button>
</form>
</div>